.header-wrapper {
  background-image: url("images/marble.jpg");
  min-height: 250px;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-wrapper-secondary {
  background-image: url("images/marble.jpg");
  min-height: 250px;
  height: 15vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nothing {
  color: red;
}

.header-description {
  margin-top: 5px;
}

div[name="middle-margin"] {
  min-width: 400px;
  border-color: lightgray;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  padding: 20px 15px 20px 15px;
}

div[name="content-wrapper"] {
}

.content-heading {
  width: auto;
}

.content-text {
  width: auto;
}

.copyright {
  color: white;
}

div[name="footer-wrapper"] {
  padding: 10px 10px 10px 10px;
}

.footer-content {
  color: white;
  padding: 0px 0px 0px 0px;
}
.content-heading {
  margin-top: 25px;
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

.content-text {
  margin-top: 10px;
}
.content-image {
  width: auto;
  text-align: center;
}

.content-image img {
  width: 50%;
}

.form-wrapper {
  width: 75%;
  min-width: 300px;
  max-width: 500px;
  margin: 10px auto 10px auto;
}

.content-wrapper {
  height: auto;
  background-color: #e7e7e7;
  border-radius: 15px;
  width: 100%;
}

.project-wrapper {
  border-radius: 15px;
  width: 75%;
  height: auto;
  margin: 25px auto 25px auto;
}

.project-picture {
  width: auto;
}

.project-picture img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.projects a {
  color: black;
  text-decoration: none;
}

.project-description {
  padding: 15px 15px 15px 15px;
}

.projects a:hover,
a:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.weather-heading{
  text-align: center;
}